name: Run all test specs

on:
    # schedule:
    #   - cron: '* 5 * * *'
    #   - cron: '* 20 * * *'
    workflow_dispatch:

jobs:
    test:
        timeout-minutes: 60
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 16
            - run: npm ci
            - name: Install Playwright Chrome Browser
              run: npx playwright install chrome
            - name: Run Playwright tests
              run: LOGIN_USERNAME=${{ secrets.LOGIN_USERNAME }} LOGIN_PASSWORD=${{ secrets.LOGIN_PASSWORD }} npx playwright test
            - name: Upload report to S3 static website
              if: always()
              run: npx tsc upload_report_to_s3.ts && AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} S3_BUCKET_NAME=${{ secrets.S3_BUCKET_NAME }} node upload_report_to_s3.js
            - uses: actions/upload-artifact@v3
              if: always()
              with:
                  name: playwright-report
                  path: playwright-report/
                  retention-days: 30
